# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.venv/
backend/.venv/
backend/*.egg-info/
backend/scripts/.env
backend/scripts/.venv/
backend/scripts/*.egg-info/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
backend/.env
database/postgresql/.env
database/rustfs/.env
frontend/.env
.venv/
backend/.venv/
backend/*.egg-info/
database/.venv/
database/*.egg-info/

# Misc
/supabase/.temp/